extends layout
- var has_error = (error) ? true : false;
block content
    h1 #{title}
    p Welcome to #{title}
    div
        // TODO: Add javascript to check on client side if the data is correct. Issue #8
        form(action='/signup',method='post')
            div(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                    label(for='email') #{tr("Email")}
                        input(id='email', type='text', value='', placeholder='@',name='email')
                        - if (has_error) {
                        // TODO: Find a way to show the error messages. The code bellow is not parsed.
                        // -   switch (error.email){
                        // -   case 0:
                        // -   break;
                        // -   case 1:
                        //p #{tr("Insert an email.")}
                        // -   break;
                        // -   case 2:
                        //p #{tr("Insert a valid email.")}
                        // -   break;
                        // -   }
                        -}
            div#passworddiv(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                    label(for='password') #{tr("Password")}
                        input(id='password',type='password',value='',placeholder='',name='password')
            div(id='hiddendiv',data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                    label(for='hidden_password') #{tr("Repeat Password")}
                        input(id='hidden_password',type='password',value='',placeholder='',name='password2')
            div(data-role='fieldcontain')
                input(type='submit',value=tr("Sign Up"),data-transition='fade', data-theme='c')
